input.invalid, textarea.invaliud {
  border: 2px solid red;
}

input.valid, textarea.valid{
  border: 2px solid green;
}

buttons.success {
  color: #008000;
}

buttons.error {
  color: #FF0000;
}

.errorMessage{
  color: #FF0000;
}

#filter-wrapper{
  width: 40%;
}

#resultFilter.affix {
  position: fixed;
  width: 20%;
  top: 40%;
}

#resultFilter {
  width: 20%;
}

#results {
  width: 80%;
  padding-left: 24%;
}

#filterWrapper {
  width: 21%;
  position: fixed;
}

@media (min-width: 60%) {
  #resultFilter.affix-top {
    position: static;
    margin-top:3%;
    width:10%;
  }
}

.shoppingBasket {
  width: 20%;
  float: right;
  position: relative;
}

.option {
  width: 33%;
  float: left;
}
